<main>
  <app-paginator
    [currentPageNumber]="(currentPageNumber$ | async) || 0"
    [maxPageNumber]="(maxPageNumber$ | async) || 0"
    (navigateTo)="navigateTo($event)"
  ></app-paginator>

  <table>
    <thead>
      <tr>
        <th>Image</th>
        <th>ID</th>
        <th>Title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let photo of displayedPhotos$ | async">
        <td>
          <img src="{{ photo.thumbnailUrl }}" alt="{{ photo.title }}">
        </td>
        <td>
          {{ photo.id }}
        </td>
        <td>
          <span>
            {{ photo.title }}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <app-paginator
    [currentPageNumber]="(currentPageNumber$ | async) || 0"
    [maxPageNumber]="(maxPageNumber$ | async) || 0"
    (navigateTo)="navigateTo($event)"
  ></app-paginator>
</main>